body,html{
	height: 100%
}

.background{
	background-image: url("pastelpink.png") ;
	height: 100%;
 	width: 100%;
 	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
