<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='creat_post.css')}}">
    <link rel="stylesheet" type="text/css" href="static/home_page.css">
    <style>
      
      .info {    
        text-align: center;
      }
      .container{
        background-color:#FFDAD1;
        text-align: center;
        margin-top: 50px;
      }
    </style>
      <title>Create Post</title>
  </head>
  <body class='background-image'>
        <div class="container" >
          <br>
        <h1 class="info">Please enter your post</h1>
        <h2 class="info">make sure to use less than 500 characters</h1>
          <br>
        <form action="/create-post", method="POST">
          <br>
        <input class="form-control" size="70" height="200" maxlength="500" type="text" placeholder="Enter your post" name="post_submit" required>
          <br>
        <button type="submit">Submit </button>
  	      <br>
  	      <br>
      </div>
        </form>
  </body>
</html>