<!doctype html>
<html>
  <head>
    <title>Username</title>
	  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='log_in.css')}}">
  </head>
  <body>
    <h1>Please enter your log in information .</h1>
    
      <div class= "login_parent" style="padding: 30px;
  border: 3px solid black;
  border-radius: 50px;
  top:200px;
  margin-left: 370px;
  position: absolute;
  padding-right: 150px;
   ">
        <form action="/log_in", method = 'POST'>
          <div class = "login">
            <div><label for="uname"><b>Username</b></label></div>

            <div><input type="text" placeholder="Enter Username" name="uname" required></div>

            <div><label for="psw"><b>Password</b></label></div>

            <div><input type="password" placeholder="Enter Password" name="psw" required></div>

            <div><button type="submit">Login</button></div>
          </div>
        


      <!-- <div class="container" style="background-color:#f1f1f1">
      </div> -->
   </form>
   <br>
  <p><a href="{{url_for('home_page')}}" style="color: #D891A9; padding-left: 85px; text-decoration: none;" >return to home</a></p>
  
    

    <p><a href="{{url_for('sign_up')}}" style="color: #D891A9; padding-left: 85px; text-decoration: none;">sign up</a></p>
    </div>
  </body>
</html






