<!DOCTYPE html>
<html>
<head>
	<title>My website</title>

	<link rel="stylesheet" type="text/css" href="project_style.css">
	<link rel="stylesheet" type="text/css" href="project_info">

<ul>
  <li><a class="active" href="#project-home">Home</a></li>
  <li><a href="#project_info">About us</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
</head>

<body class = 'background-image'>
<center><h1>Violence against women</h1></center>
<center><p>violence against women :
<br> hitting, murdering, controlling,
<br> cursing women or any form of
<br> mistreatment against women in the state of israel.
</p></center>





</body>
</html>