<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="static/home_page.css">
	<title>About us</title>
	<h1>About us</h1>
</head>
<body class = 'background-image'>
	<p style="font-size: 25px";>Often we hear about violence against women, men and women as one are affected by these accidents.<br>This website is a safe place where women and men can share experiences about times where they were victims for violence, seek help, help each other and say whatever is on their mind.<br> <b>vision:</b>by building this website i aspire to give every person the safe space to confess any experience they had, help each other, create a society where people feel safe to fight violence against women and decrease it as much as possible.</p>
</body>
</html>