<!DOCTYPE html>
<html>
<head>
	<title>My website</title>

	<link rel="stylesheet" type="text/css" href="/static/home_page.css">
	<!-- <link rel="stylesheet" type="text/css" href="project_info.html"> -->

<ul>
  <li><a href="{{ url_for('info') }}">About us</a></li>
  <!--<li><a href ="{{url_for('post') }}">create a post</a></li>-->
  <!--<li><a href="{{ url_for('sign_up') }}">sign up</a>-->
  <li><a href="{{url_for('log_in')}}">log in</a>
</ul>
</head>

<body class = 'background-image'>
<center><h1>Violence against women</h1></center>
<b>"You educate a man; you educate a man. You educate a woman; you educate a generation."
	<br> Brigham Young</b>
<p style="font-size: 20px;">hitting, murdering, controlling, cursing women or any form of
<br> mistreatment against women in the state of israel.<br>Often considered a form of hate crime, this type of violence is gender-based,<br> meaning that the acts of violence are committed against women and girls <br>expressly because they are female.</p>



</body>
</html>