<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
    <link rel="stylesheet" type="text/css" href="static/sign_up.css">
</head>
<body>



<form method= "POST" action="{{url_for('sign_up') }}" style="border:1px solid #ccc">
  <div class="container">
    <h1>Sign Up</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>


    <label for="username"><b>username</b></label>
    <input type="username" placeholder="Enter Username" name="username" required>
<br>
    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
<br>
    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>
    
    <div class="clearfix">
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>


<!-- <form action="/sign_up" method="post" >
            <div class="container">
            <h1 id=signup>Sign Up</h1>
            <br>
            <br>
            <br>
                <div class="signup_password">
                    <label for="username"><b> <font color='black'>Username :</font></b></label>
                    <input class="form-control" type="text" placeholder="Enter Username" name="username" required>
                    <br>
                    <br>
                    <br>
                    <label for="psw"><b> <font color='black'><font color="white"></font>Password :</font></b></label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                    <button id=submit type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
</form> -->

</body>
</html>