<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
    <link rel="stylesheet" type="text/css" href="static/sign_up.css">
</head>
<body background="/static/marble.png">
    <h1 style="text-align: center;">Please fill in this form to create an account.</h1>


<div class= "signup_parent" style="padding: 30px;
  border: 3px solid black;
  border-radius: 50px;
  top:200px;
  margin-left: 370px;
  position: absolute;
  padding-right: 100px;
  padding-left: 100px;
   ">
 <form method= "POST" action="{{url_for('sign_up') }}">
   <div class="container">
     <h1 style="text-align: center">Sign Up</h1>
     <hr style="text-align: center; margin-left: 75px; margin-right: 75px;">


     <label for="username" style="text-align: center; padding-left: 80px;"><b>username</b></label>
     <br>
     <input type="username" style="text-align: center; " placeholder="Enter Username" name="username" required>
     <br>
     <label for="psw" style="text-align: center; padding-left: 80px;"><b>Password</b></label>
     <br>
     <input type="password" style="text-align: center;" placeholder="Enter Password" name="psw" required>
     <br>
     <label for="psw-repeat" style="text-align: center; padding-left: 50px;"><b>Repeat Password</b></label>
     <br>
     <input type="password" style="text-align: center;"  placeholder="Repeat Password" name="psw-repeat" required>
     <br>
     <br>
    
     <div class="clearfix" style="text-align: center">
       <button type="submit" class="signupbtn">Sign Up</button>
     </div>
   </div>
 </form>
</div>


<!-- <form action="/sign_up" method="post" >
            <div class="container">
            <h1 id=signup>Sign Up</h1>
            <br>
            <br>
            <br>
                <div class="signup_password">
                    <label for="username"><b> <font color='black'>Username :</font></b></label>
                    <input class="form-control" type="text" placeholder="Enter Username" name="username" required>
                    <br>
                    <br>
                    <br>
                    <label for="psw"><b> <font color='black'><font color="white"></font>Password :</font></b></label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                    <button id=submit type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
</form> -->

</body>
</html>