<!DOCTYPE html>
<html>
<head>
	<title>sign up</title>
</head>
<body>

<form action="/sign_up" method="post" >
            <div class="container">
            <h1 id=signup>Sign Up</h1>
            <br>
            <br>
            <br>
                <div class="signup_password">
                    <label for="username"><b> <font color='black'>Username :</font></b></label>
                    <input class="form-control" type="text" placeholder="Enter Username" name="username" required>
                    <br>
                    <br>
                    <br>
                    <label for="psw"><b> <font color='black'><font color="white"></font>Password :</font></b></label>
                    <input class="form-control" type="password" placeholder="Enter Password" name="psw" required>
                    <br>
                    <button id=submit type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
</form>

</body>
</html>